/* General Body Styling */
body {
    background-color: rgb(55, 56, 54);
    margin: 0;
    font-family: 'Avenir Next', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

/* Centered Content Wrapper */
.content {
    max-width: 800px;
    width: 100%;
    padding: 40px 20px; /* Add extra padding for spacing */
    box-sizing: border-box;
}

/* Back to Home Button Styling */
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}

.back-button:hover {
    background-color: #ff007b;
}

/* Title and Main Description Styling */
.description {
    text-align: center;
    margin-bottom: 40px; /* Extra space below description */
}

.description h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 300;
}

.description p {
    font-size: 18px;
}

/* Additional Description Styling */
.description2 {
    text-align: center;
    margin-bottom: 60px; /* Add space between this and the PDF */
    font-size: 14px;
}

/* PDF Container Styling */
.pdf-container {
    width: 100%;
    height: 100vh; /* Full viewport height for the PDF */
}

.pdf-container embed {
    width: 100%;
    height: 100%;
    border: none;
}

/* Photos and Videos Section */
.photos, .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
    max-width: 1200px;
}

.photos img, .videos video {
    width: 45%;
    margin: 10px;
    border-radius: 8px;
    height: auto;
    border: 2px solid #ccc; /* Add border to images and videos */
    box-sizing: border-box; /* Include border in width calculation */
}

.photos img {
    object-fit: cover;
}

.videos video {
    object-fit: cover;
}


/* Responsive Design */
@media screen and (max-width: 767px) {
    .description h1 {
        font-size: 24px;
    }

    .description p {
        font-size: 16px;
    }

    .description2 {
        font-size: 12px;
    }

    .pdf-container {
        height: 70vh; /* Adjust PDF height on smaller screens */
    }
}
